<mat-card style="margin: 2rem;">
    <form #carForm="ngForm" (ngSubmit)="save(carForm.value)">
      <mat-card-header>
        <mat-card-title><h2>{{car.name ? 'Edit' : 'Add'}} Car</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <input type="hidden" name="href" [(ngModel)]="car.href">
        <mat-form-field>
          <input matInput placeholder="Car Name" [(ngModel)]="car.name"
                 required name="name" #name>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="car.ownerDni">
          <input matInput placeholder="Owner DNI" [(ngModel)]="car.ownerDni"
                required name="ownerName" #ownerName disabled>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!carForm.form.valid">Save</button>
        <button mat-raised-button color="accent" (click)="linkOwner(car)"
                *ngIf="!car.ownerDni && car.href" type="button">Link to a owner</button>
        <button mat-raised-button color="warn" (click)="remove(car.href)"
                *ngIf="car.href" type="button">Delete</button>
        <a mat-button routerLink="/car-list" style="background-color: #A8B0B1;">Cancel</a>
      </mat-card-actions>
      <mat-card-footer>
        <div class="giphy">
          <img src="{{car.giphyUrl}}" alt="{{car.name}}">
        </div>
      </mat-card-footer>
    </form>
  </mat-card>
