<mat-card style="margin: 2rem;">
  <mat-card-title>
    <span style="margin: 0 10rem 0 0;">Car List</span>
    <button mat-raised-button color="primary" [routerLink]="['/car-add']">
      <mat-icon>add</mat-icon>
      Add
    </button>
    <button mat-raised-button color="primary" [routerLink]="['/car-list']" style="margin-left: 1rem;">
      <mat-icon>person_search</mat-icon>
      View all cars
    </button>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let carWithOwner of carsWithOwners">
        <img mat-list-avatar src="{{carWithOwner.car.giphyUrl}}" alt="{{carWithOwner.car.name}}">
        <table>
          <tr>
            <td>
              <h3 mat-line>
                <a mat-button [routerLink]="['/car-edit', carWithOwner.car.id]">{{carWithOwner.car.name}}</a>
              </h3>
            </td>
            <td>
              <h3 mat-line>
                <a mat-button [routerLink]="['/owner-edit', carWithOwner.owner.id]">{{carWithOwner.car.ownerDni}}</a>
              </h3>
            </td>
            <td>
              <h3 mat-line>
                <a mat-button [routerLink]="['/owner-edit', carWithOwner.owner.id]">{{carWithOwner.owner.name}}</a>
              </h3>
            </td>
            <td>
              <h3 mat-line>
                <a mat-button [routerLink]="['/owner-edit', carWithOwner.owner.id]">{{carWithOwner.owner.profession}}</a>
              </h3>
            </td>
          </tr>
        </table>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
